pytest
pytest-cov
fastapi
uvicorn[standard]
pydantic
httpx
black
coverage
anyio
h11
idna
iniconfig
mypy_extensions
packaging
pathspec
platformdirs
pluggy
Pygments
requests
ruff
sniffio
starlette
typing_extensions
typing-inspection
urllib3
annotated-types